.button{
    border-radius: 8px;
    text-transform: uppercase;
    padding: 2rem 4rem;
    background-image: none;
    border: none;
    color: #ffffff;
    box-shadow:0rem .3rem 2rem 0rem rgba(#000000,.2);

    background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
    width: 100%;
    letter-spacing: 2px;
    transition: all .3s ease-out;

    &:hover{
        transform: translateY(-0.5rem)  scale(1.02);
        box-shadow:0rem .3rem 3rem 0rem rgba(#000000,.2);
        cursor: pointer

    }

    &:active{

        transform: translateY(-0.1rem); 
        box-shadow:0rem .3rem 2.5rem 0rem rgba(#000000,.2);



    }
}