.main{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.title{
    position: absolute;
    bottom: 40%;
    left:50%;
    font-weight: normal;
    transform: translateX(-50%);
    color: #ffffff;
}