$grey_bg:linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%);
$grey_bg_light: linear-gradient(336.91deg, #F0F4FD -56.86%, #FFFFFF 126.39%);
$button_bg:linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
$orange_bg:linear-gradient(210.28deg, #FEB665 37.28%, #F66EB4 76.65%);
$color_gold:#FFD381;
$text_color_light: rgba(56, 79, 125, 0.8);
$text_color_dark: #384F7D;
$text_color_deep: #445984;
$color-white:#ffffff;





/////////////////////////fonts////////////////////////////


$font-heading-large:3.2rem;
$font-heading-primary:1.9rem;


$font-body-big:2.0rem;
$font-body-mid:1.8rem;
$font-body-normal:1.6rem;
$font-body-semi-normal:1.4rem;
$font-body-small:1.2rem;
$font-body-tiny:1.0rem;




///////////////////////////////grid variables///////////////////////////////
$section-seperator-height:7rem;
$gutter-vertical:8rem;
$gutter-horizontal:9.5rem;//was 6rem before..experimenting
$section-bottom-padding:11rem;
$container-padding-horizontal:8.5rem;
$nav-padding-horizontal:4rem;
$nav-height:9.4rem;
$footer-padding-top:10rem;
$footer-padding-bottom:4.6rem;



