<div class="main">

    <app-header title="My Book List" class="header">
    </app-header>

    <section class="books">

      <div class="books__search">
          <app-search-bar (textChanged)="searchTextChanged($event)"></app-search-bar>

      </div>

      <h2 class=" books__heading text text--upper text--small text--light">Books reviwed by you</h2>

      <ul class="books__list">

        <li *ngFor="let book of books | filter:searchText">
          <app-books [book]="book"></app-books>
        </li>

       

      </ul>

      


    </section>

    <div class="books__review-button">
        <app-button (clicked)="writeReview()" [message]="'add book to review'"></app-button>

    </div>


</div>