@import "../../../assets/sass/abstract/variables";

.main{
    min-height: 100vh;
}

.books{
    padding: 15% 10%;
    transform:translateY(-45%);



    // &__search{
    //     transform:translateY(-180%);
    // }


    &__heading{
        margin-top: 3rem;
    }
}