@import "../../../assets/sass/abstract/variables";

.main{
    // max-height: 90vh;
    // height: 90vh;
    position: relative;
    padding-bottom: 20rem;
}

.header{
    position: absolute;
    top: 0;
}

.review{
    padding: 15% 10%;
    padding-bottom: 3.3rem;
    padding-top: 35rem;
    overflow: hidden;

    &__poster{
        position: absolute;
        top: 13%;
        left:10%;
        right: 10%;
    }



  

    &__next-button{
        margin-top: 5rem;
        width: 100%;
        padding: 0 10%;

        @media only screen and (min-width: 700px) {
            position: relative;
            width: 60%;
            left:50%;
            transform: translateX(-50%);
        }
    }

    &__synopsis-link{
        margin-top: 1.5rem;
    }

    &__divider{
        border: 1px solid rgba(56, 79, 125, 0.1);
        margin-bottom: 4.2rem
    }
}


.book{
    &__ratings{
        margin-top: .9rem;
        &>*{
            margin-right:1rem;
        }
    }
    &__star{

        color:rgba(56, 79, 125, 0.65);

        &--on{

            color:$color-gold;


        }

    }
}